# Virtual env
env

# File with secret env variables
.env

# Downloaded images for the SD card
*.zip
*.img

# Generated inventory as it contains custom data
inventory.yml

# Cloned repos
k3s-ansible
cluster-monitoring